body {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

nav {
  width: 1140px;
  padding: 0px 0px 20px 0px;
  font-size: 16px;
  position: absolute;
  top: 0;
}

.company {
  margin-left: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #137083;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #476269;
}

h1,
h2,
.packages {
  line-height: 30px;

  color: #137083;
  text-align: center;
  font-size: 48px;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
  padding: 15px;
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 3px;
  width: 350px;
  height: 450px;
}

h3 {
  text-align: center;
  color: #476269;
}

div {
  text-align: center;
  margin: auto;
  padding: 15px;
  color: #476269;
}

p {
  font-size: 20px;
  text-align: center;
  color: #476269;
  line-height: 1.5p;
}

.video {
  font-size: 50px;
}

.baroque, .classical, .romantic {
  text-align: start;
}

.addons {
  list-style: none;
}

@media (max-width: 900px) {
  nav {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
}
